{% extends 'base.html' %}


{% block titre %} ADMIN | CREATION UTILISATEUR {% endblock %}


{% block main %}
	<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if done %}
                	<div class="alert alert-success">{{ done }}</div>
                {% endif %}
                {% if err %}
                    <div class="alert alert-danger">{{ err }}</div>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        Creation d'utilisateur
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="nom" class="form-label">Nom</label>
                                <input type="text" name="nom" class="form-control" id="nom" placeholder="Votre nom" required>
                            </div>
                            <div class="mb-3">
                                <label for="prenom" class="form-label">Prénom</label>
                                <input type="text" name="prenom" class="form-control" id="prenom" placeholder="Votre prénom" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Votre adresse email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Votre mot de passe" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Creer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}